RTSP_URL=rtsps://admin:Kion%402024@10.102.10.230:554/video/live?channel=1&subtype=1
config_file=config.yml
param=nanodet-v1/nanodet_v1.ncnn.param
bin=nanodet-v1/nanodet_v1.ncnn.bin
violation_duration=5.0
Display=True